@font-face {
    font-family: 'Last Shuriken';
    src: url(../fonts/TheLastShuriken-Regular.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Juice';
    src: url(../fonts/JUICERegular.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*
---------------------------------- 
Reset
---------------------------------- 
 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
---------------------------------- 
General styling
---------------------------------- 
 */

:root{
    --prmy-color: rgb(201, 2, 58);
    --bg-color: hsl(224, 50%, 12%);
    --font-color: rgb(209, 218, 245);
    --nav-bg-color-solid: rgba(12, 18, 34, 0.965);
    --nav-bg-color-opaque: rgba(12, 18, 34, 0.5);
}

html::-webkit-scrollbar{ 
    width: 8px; 
    height: 8px;
} 

html::-webkit-scrollbar-thumb{
    background-color: var(--prmy-color);
    border-radius: 50px;
}

body{
    display: flex;
    flex-direction: column;
    color: var(--font-color);
    background-color:var(--bg-color);
    min-height: 100vh;
    font-family: 'Last Shuriken', system-ui;
    background-attachment: fixed;
    background-image: url(../images/lotus\ pattern.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    color: inherit;
    text-decoration: none;
}

button{
    color: var(--font-color);
    font-family: inherit;
    background-color: var(--prmy-color);
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 25px;
    align-self: center;
    font-size: 1.4rem;
    transition: all .4s;
}

button:hover{
    color: var(--bg-color);
    transform: scale(.96,.97);
}

/*
---------------------------------- 
nav-bar styling
---------------------------------- 
 */

default-nav{
    display: flex;
    position: fixed;
    top:0;
    gap: 100px;
    background-color: var(--nav-bg-color-opaque);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 10px 40px;
    z-index: 999;
    transition: all .5s ease-in-out;
    width: 100%;
}

default-nav img{
    height: 67px;
    width: auto;
    cursor: pointer;
    vertical-align: middle;
}

default-nav a{
    height: 100%;
    transition: all .5s;
    font-size: 1.1rem;
}

default-nav a:hover{
    color: var(--prmy-color);
}
.menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    list-style: none;
    gap: 40px;
}

.dropdown{
    display: none;
}

/*classes for js event*/

.dropdown-open{
    transform: translateX(0%) !important;
}
.hideNav{
    transform: translateY(-100%);
}

/*
---------------------------------- 
Hamburger button styling
---------------------------------- 
 */

.bar{
    background-color: var(--font-color);
    height: 3px;
    width: 32px;
    margin: 5px;
    border-radius: 2px;
    transition: all 1s;
}

.hamburger{
    display: none;
    position:absolute;
    top:0;
    cursor: pointer;
    transition: scale .5s
 }

.hamburger:hover{
    scale: 1.1 1.1;
 }

.hamburger:hover *{
    background-color: var(--prmy-color);
 }

 /*classes for js events*/
.hamburger-open .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburger-open .bar:nth-child(2){
    opacity: 0;
}
.hamburger-open .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);

}
/*---------------------*/



@media(max-width:800px){
    default-nav{
        background-color: var(--nav-bg-color-solid);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0px;
        padding: 20px;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    }
    .main{
        display: none;
    }
    .dropdown{
        display: flex;
        position:fixed;
        top: 107px;
        background-color: var(--nav-bg-color-solid);
        flex-direction: column;
        width: 100%;
        padding: 20px 0;
        transform: translateX(-100%);
        transition: all .9s ease-in-out;
    }

    .hamburger{
        display: block;
        position: absolute;
        top: 38px;
        right: 30px;
    }

    html{
        font-size: calc(.95vw + 0.6rem);
    }

}
/*
---------------------------------- 
main styling
---------------------------------- 
 */
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--prmy-color);
    font-size: calc(2.7vw + .8rem);
    height: 100vh;
    animation: fadeIn 2s linear;
}

#header-icon{
    position: relative;
    top:0;
    height: min(70vw, 400px);
    width: min(70vw, 400px);
    margin-top: 50px;
}

#header-icon #frame{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: auto;
    transition: all 3s ease-in-out;
    animation: frameSpin 3.5s cubic-bezier(0.42, 0, 0.58, 1);
}

#header-icon #frame:hover{
    transform: rotate(90deg);
}

#header-icon #flower{
    position: absolute;
    top:23%;
    left: 24%;
    height: 50%;
    width: auto;
}

header h1{
    font-size: 4.3rem;
}

header p{
    font-family: juice;
    font-size: 1.3rem;
    font-weight: 300;
    color: var(--font-color);
    text-align: center;
    width: min(85vw, 800px);
    margin-bottom: 20px;
}


main{
    display: flex;
    justify-content: center;
    color: var(--prmy-color);
    font-size: calc(2.7vw + .8rem);
    height: 100vh;
    align-self: center;
    border-radius: 20px;
 }

 main h1{
    font-size: 4rem;
 }

#message{
    display: flex;
    align-items: center;
    margin-bottom: 7%;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--nav-bg-color-opaque);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 40px min(400px,10%);

}
.about p{
    font-family: 'Juice';
    color: var(--font-color);
    text-align: center;
    font-size: 1.25rem;
    width: 100%;
}

@keyframes fadeIn{
    from{
       opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes frameSpin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(90deg);
    }
}